*{
    padding: 0;
    margin: 0 auto;
}
body {
    width: 960px;
    margin-top: 20px;
}
header{
    width:  960px;
    height: 100px;
    background-color: #0091be;
    padding: 15px 0;
    color: white;
    position: absolute;
    justify-content: center;
    display: block;
}
img{
    padding-left: 162px;
    width: 100px;
    height: 100%;
    display: inline-block;
}
h1{
    float: right;
    text-align: justify;
    font-size: 24px;
    color: white;
    height: 100px;
    padding-top: 20px;
    padding-right: 340px;

}